h1, h2{
    color: blue;
}

.card{
    border: none;
}

table {
    width: auto;
}

th, td {
    text-align: center;
}

span.material-icons{
    font-size: 100px;
    color: blue;
    margin-bottom: 20px;
}


.footer {
    background-color: #f8f9fa;
    color: #343a40;
    padding: 1.5rem 0;
    margin-top: 3rem;
}

.footer .list-inline {
    padding-left: 0;
    list-style: none;
}

.footer .list-inline-item {
    margin-right: 1rem;
}



.footer p, .footer small {
    margin: 0;
}

@media (max-width: 767.98px) {
    .footer .row {
        flex-direction: column;
    }

    .footer .col-md-6 {
        margin-bottom: 1rem;
    }
}
