h1, h2{
    color: blue;
}



.card{
    border: none;
}

table {
    width: auto;
}
th, td {
    text-align: center;
}

span.material-icons{
    font-size: 100px;
    color: blue;
    margin-bottom: 20px;
}

.footer-icon{
    height: 15px;
    width: 18px;
}
/* .authbox{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
} */