h1, h2{
    color: blue;
}


/* .text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
} */

.card{
    border: none;
}


span.material-icons{
    font-size: 100px;
    color: blue;
    margin-bottom: 20px;
}

.footer-icon{
    height: 15px;
    width: 18px;
}

.register{
}